<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
<title>Home</title>
</head>
<body>
<div class="d-flex justify-content-center mx-auto w-100 p-3" style="background-color: #eee;">
	
	<p class="text-left w-"><a href="/signup" class="badge badge-primary ">Sign up!</a></p>
	<p class="text-left w-"><a href="/login" class="badge badge-secondary ">Sign in!</a></p>
	 <p ><a href="/questionary" class="badge badge-primary">Go to questionary</a></p>
	<h1 class="text-center">Welcome to Gift Recommender</h1>
</div>
 <div class="d-flex flex-shrink-0 justify-content-center mx-auto w-50 p-3">
    <img alt="" class = "img-thumbnail"th:src="@{/images/home.png}">
    </div>
	<div class="d-flex justify-content-center mx-auto w-100 p-3" style="background-color: #eee;">
	<p class = "text">Gift recommender is a web recommender based on the paper of Robin Burke</p>
	</div>
</body>
</html>
